{% load static %}

<!DOCTYPE html>
<>
<head>
    <title>Vince Matthew Gerente</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100 border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/Profile.jpg' %}" >
                <hr>
                <h4>Greetings, I'm Vince Gerente</h4>
                <p>I'm a College Student studying in the course of Computer Engineering</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <h4>My Experience in my Course so far</h4>
                <hr>
                <p>In my Experience with my course of BS Computer Engineering, every thought I think
                    about it was hard as there will be involvement of mathematics and electronics.
                    During my first year in the first semester, there was really nothing much to expecting
                    with other subjects excepted for two subjects which is Chemistry and Calculus.
                    Miraculously, I was able to pass this subjects and move on.</p>

                <p>Moving to second semester of first year, three subjects were very challenging Calculus2,
                    Physics, and lastly Prologdes. Sadly, I failed my calculus2 and had to go through summer
                    classes, physics was easy and Prologdes I barely passed.
                    This semester was the first time I had a lot of challenges due to my schedule being at
                    night and my bipolar thought process going through me.</p>

                <p>Now I’m currently in my Second year in first semester.</p>
            </div>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h4>Attained Skills in my Course</h4>
                <hr>
                <p>These were skills that I was able to attain to this course.
                    The skills will provide beneficial aid/help from future jobs:</p>
                <h6>Critical Thinking: </h6><p>Obtained from solving mathematical equations
                from the subjects: Calculus, Physics, and other problem-solving subjects.</p>
                <h6>Analytical Thinking: </h6><p>Obtained from mathematical subjects and from
                laboratory subjects.</p>
                <h6>Language acquisition: </h6><p>Obtained from coding subjects with learning the first
                programming language(C++) that was taught to me.</p>
                <h6>Data Analysis: </h6><p>Obtained from analyzing work and improving the said work.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body">
                <h4>Job opportunities I would consider taking</h4>
                <hr>
                <h6>----Information Security Analyst----</h6>
                <h6>----Computer Systems Engineer----</h6>
                <h6>----Network Administrator----</h6>
                <p>These are jobs I can consider taking as they are high-paying jobs.
                    Although there may be other opportunities for me to look for. These are the ones I want to
                    focus for now. With the course I am taking, I should develop other attainable skills other
                    than the once I have attained.</p>
                <hr>
                <h4>In case of Backup</h4>
                <p>I would consider shifting courses if difficulty arises. It could be rough for me to do so
                    but every opportunity can be a lasting hope to land a job.</p>
                <p>I would consider taking Architecture for backup.</p>
            </div>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-md-6">
            <div class="card card-body border-info">
                <h4>About me</h4>
                <hr>
                <p>I am an Introverted person, I don't usually talk much in crowded spaces and don't really get
                    along with others, although I do talk politely when people talk to me.</p>
                <p>I'm into video games pertaining to Rhythm games,MMORPG, and Open world games. I'm also into techs
                    and are curious to the development of it.</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-body">
                <h4>Contact info</h4>
                <hr>
                <h6>Number: </h6><p>0916457279</p>
                <h6>Email: </h6><p>vincer.gerente@gmail.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

